.chat {
    margin-top: 10px;
    height: 350px; width: 450px;
    &-window {
        padding: 10px;
        width: 100%; height: 100%;
        background-color: $GRAY_300;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-messages {
        height: 295px;
        overflow: scroll;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0px 10px;
        padding-bottom: 10px;
    }

    &-message-date {
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 3px 10px;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &-message {
        position: relative;
        display: flex;
        gap: 10px;
        
        &_my {
            flex-direction: row-reverse;

            > .chat-message__content > .chat-message__time  {
                right: 0;
                left: auto;
            }
        }

        &__user-image {
            border-radius: 50%;
            width: 30px;

            &_i {
                width: 100%;
                margin-top: auto;
            }
        }

        &__content {
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            max-width: 300px;
            word-wrap: break-word;
        }

        &__user {
            color: $PRIMARY;
            margin-bottom: 5px;
        }

        &__time {
            position: absolute;
            bottom: 0;
            left: 0;

            color: $GRAY_600;
        }
    }

    &-input {
        &__wrapper {
            position: relative;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        padding: 0 60px 0 10px;
        width: 100%; height: 100%;
        background-color: #fff;
        border-radius: 20px;
    }
    &_button {
        position: absolute;
        top: 10%; right: 5px;
        width: 50px; height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: $PRIMARY;
        svg {
            width: 80%; height: 80%;
            fill: #fff;
            fill-rule:evenodd;
            fill-opacity:1;
            stroke: none;
        }
    }
}
